   body
   {
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url("back_img.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  header
  {
    font-size:500%;
    color: red;
    text-align: center;
  }
  #button
  {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 4px;
    border: 2px solid #ffffff;
    border-radius: 17.5px;
  }
  #menubutton
  {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #0000ff;
    font-size: 20px;
    border: 2px solid #0000ff;
    border-radius: 25px;
    padding: 5px;
    margin: 8px;
  }
  #navigationbar
  {
    display: inline-block;
    width: 100%;

  }



  /*burger menu*/



  #burger_input
  {
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 116px;
    left: 2%;
    margin: 0px;
    cursor: pointer;

    opacity: 0.5; 
    z-index: 2;
  }
  
  #navigationbar #burger
  {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px
  }
  #navigationbar #burger a
  {
    display: block;
    position: relative;
    width: 35px;
    height: 5px;
    color: #ffffff;
    background-color: #ffffff;
    border-radius: 2.5px 2.5px 2.5px 2.5px;
    margin: 5px 0px;
    cursor: pointer;
    z-index: 1;
    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
    
  }

  #burger_input:checked ~ #navigationbar #burger #bar1
  {
    opacity: 1;
    
    transform:  rotate(45deg) translate(1px, 1px);
    background-color: #0000ff;
  }
  #burger_input:checked ~ #navigationbar #burger #bar2
  {
    opacity: 0;
    background-color: #0000ff;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #burger_input:checked ~ #navigationbar #burger #bar3
  {
    background-color: #0000ff;
    transform:  rotate(-45deg) translate(-1px, -1px);
  }
  #navigationbar #menu
  {
    opacity: 0.75;
    border-radius: 0px 10px 10px 0px;
    position: absolute;
    top:80px;
    left: -10px; 
    width: 30%;
    height: auto;
    margin: auto;
    padding: 50px;
    padding-top: 80px;
    background: #ffffff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #burger_input:checked ~ #navigationbar #menu
  {
    transform: none;
  }



  /*categories*/



  #cat_input{
    display: inline-block;
    position: absolute;
    top: 144px;
    left: 43%;
    display: block;
    width: 20px;
    height: 20px;
    z-index: 5;
    opacity: 0.5;
  }
  #cat_icon
  {
    position: absolute;
    display: inline-block;
    margin-left: 13%;
    margin-right: 13%;
  }
  #dropdown
  {
    display: inline-block;
    width: 31px;
    height: 13.5px;
    position: relative;
    top: -2px;
    left: 65px;
    border-radius: 0px 0px 17.5px 17.5px;
    border:2px solid #ffffff;

  }
  #navigationbar #categories
  {
    display: inline-block;
    opacity: 0.75;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top:133px;
    left: 10%; 
    height: 0px;
    width: 80%;
    overflow: hidden;
    background: #ffffff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transition: height 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  #cat_input:checked ~ #navigationbar #categories
  {
    height: 400px;
  }
